.main-box {
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Helps visibility on light wallpapers */
}

.time {
  font-size: 80px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.date {
  font-size: 24px;
  margin-top: -10px;
}
